In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
encounters=pd.read_csv(r'C:\Users\shivani\Downloads\Hospital+Patient+Records\encounters.csv')
organization=pd.read_csv(r'C:\Users\shivani\Downloads\Hospital+Patient+Records\organizations.csv')
patients=pd.read_csv(r'C:\Users\shivani\Downloads\Hospital+Patient+Records\patients.csv')
payer=pd.read_csv(r'C:\Users\shivani\Downloads\Hospital+Patient+Records\payers.csv')
procedure=pd.read_csv(r'C:\Users\shivani\Downloads\Hospital+Patient+Records\procedures.csv')

In [5]:
encounters.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,32c84703-2481-49cd-d571-3899d5820253,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,ambulatory,185347001,Encounter for problem (procedure),85.55,1018.02,0.00,NaN,NaN
1,c98059da-320a-c0a6-fced-c8815f3e3f39,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,outpatient,308335008,Patient encounter procedure,142.58,2619.36,0.00,NaN,NaN
2,4ad28a3a-2479-782b-f29c-d5b3f41a001e,2011-01-03T14:32:11Z,2011-01-03T14:47:11Z,73babadf-5b2b-fee7-189e-6f41ff213e01,d78e84ec-30aa-3bba-a33a-f29a3a454662,7caa7254-5050-3b5e-9eae-bd5ea30e809c,outpatient,185349003,Encounter for check up (procedure),85.55,461.59,305.27,NaN,NaN
3,c3f4da61-e4b4-21d5-587a-fbc89943bc19,2011-01-03T16:24:45Z,2011-01-03T16:39:45Z,3b46a0b7-0f34-9b9a-c319-ace4a1f58c0b,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,162673000,General examination of patient (procedure),136.80,1784.24,0.00,NaN,NaN
4,a9183b4f-2572-72ea-54c2-b3cd038b4be7,2011-01-03T17:36:53Z,2011-01-03T17:51:53Z,fa006887-d93c-d302-8b89-f3c25f88c0e1,d78e84ec-30aa-3bba-a33a-f29a3a454662,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,ambulatory,390906007,Follow-up encounter,85.55,234.72,0.00,55822004.0,Hyperlipidemia

In [6]:
encounters.shape

(27891, 14)

In [7]:
encounters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27891 entries, 0 to 27890
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   27891 non-null  object
 1   START                27891 non-null  object
 2   STOP                 27891 non-null  object
 3   PATIENT              27891 non-null  object
 4   ORGANIZATION         27891 non-null  object
 5   PAYER                27891 non-null  object
 6   ENCOUNTERCLASS       27891 non-null  object
 7   CODE                 27891 non-null  int64
 8   DESCRIPTION          27891 non-null  object
 9   BASE_ENCOUNTER_COST  27891 non-null  float64
 10  TOTAL_CLAIM_COST     27891 non-null  float64
 11  PAYER_COVERAGE       27891 non-null  float64
 12  REASONCODE           8350 non-null   float64
 13  REASONDESCRIPTION    8350 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 3.0+ MB

In [8]:
encounters['START']=pd.to_datetime(encounters['START'], utc=True)

In [9]:
encounters['STOP']=pd.to_datetime(encounters['STOP'],utc=True)

In [10]:
encounters['START']=pd.to_datetime(encounters['START']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [11]:
encounters['STOP']=pd.to_datetime(encounters['STOP']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [12]:
encounters['START']=pd.to_datetime(encounters['START'], errors='coerce')

In [13]:
encounters['STOP']=pd.to_datetime(encounters['STOP'], errors='coerce')

In [14]:
encounters['ENCOUNTERCLASS']=encounters['ENCOUNTERCLASS'].replace('ambulatory','outpatient')

In [15]:
organization.head()

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON
0,d78e84ec-30aa-3bba-a33a-f29a3a454662,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187

In [16]:
organization.drop(columns=['LAT','LON'], inplace=True)

In [17]:
payer.head()

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583

In [18]:
payer.shape

(10, 7)

In [19]:
payer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   10 non-null     object
 1   NAME                 10 non-null     object
 2   ADDRESS              9 non-null      object
 3   CITY                 9 non-null      object
 4   STATE_HEADQUARTERED  9 non-null      object
 5   ZIP                  9 non-null      float64
 6   PHONE                9 non-null      object
dtypes: float64(1), object(6)
memory usage: 692.0+ bytes

In [20]:
patients.head()

,Id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503
1,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940-02-19,NaN,Mr.,Zane918,Hodkiewicz467,NaN,NaN,M,white,nonhispanic,M,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162
2,8123d076-0886-9007-e956-d5864aa121a7,1958-06-04,NaN,Mr.,Quinn173,Marquardt819,NaN,NaN,M,white,nonhispanic,M,Gardner Massachusetts US,816 Okuneva Extension Apt 91,Quincy,Massachusetts,Norfolk County,2170.0,42.265177,-70.967085
3,770518e4-6133-648e-60c9-071eb2f0e2ce,1928-12-25,2017-09-29,Mr.,Abel832,Smitham825,NaN,NaN,M,white,hispanic,M,Randolph Massachusetts US,127 Cole Way Unit 95,Boston,Massachusetts,Suffolk County,2118.0,42.334304,-71.066801
4,f96addf5-81b9-0aab-7855-d208d3d352c5,1928-12-25,2014-02-23,Mr.,Edwin773,Labadie908,NaN,NaN,M,white,hispanic,M,Stow Massachusetts US,976 Ziemann Gateway,Boston,Massachusetts,Suffolk County,2125.0,42.346771,-71.058813

In [21]:
patients.shape

(974, 20)

In [22]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          974 non-null    object
 1   BIRTHDATE   974 non-null    object
 2   DEATHDATE   154 non-null    object
 3   PREFIX      974 non-null    object
 4   FIRST       974 non-null    object
 5   LAST        974 non-null    object
 6   SUFFIX      21 non-null     object
 7   MAIDEN      386 non-null    object
 8   MARITAL     973 non-null    object
 9   RACE        974 non-null    object
 10  ETHNICITY   974 non-null    object
 11  GENDER      974 non-null    object
 12  BIRTHPLACE  974 non-null    object
 13  ADDRESS     974 non-null    object
 14  CITY        974 non-null    object
 15  STATE       974 non-null    object
 16  COUNTY      974 non-null    object
 17  ZIP         832 non-null    float64
 18  LAT         974 non-null    float64
 19  LON         974 non-null    float64
dtypes: float64(3), object(17)
memory usage: 152.3+ KB

In [23]:
patients.drop(columns=['LAT','LON'], inplace=True)

In [24]:
patients['BIRTHDATE']=pd.to_datetime(patients['BIRTHDATE'])

In [25]:
patients['DEATHDATE']=pd.to_datetime(patients['DEATHDATE'])

In [26]:
patients.replace({'NaT':r'\N'}, inplace=True)

In [27]:
patients['FIRST_NAME']=patients['FIRST'].str.replace(r'\d+','',regex=True)

In [28]:
patients['LAST_NAME']=patients['LAST'].str.replace(r'\d+','',regex=True)

In [29]:
patients['MAIDEN_NAME']=patients['MAIDEN'].str.replace(r'\d+','',regex=True)

In [30]:
patients.drop(columns=['FIRST', 'LAST'], inplace=True)

In [31]:
patients.drop(columns=['MAIDEN'], inplace=True)

In [32]:
patients=patients[['Id','BIRTHDATE','DEATHDATE','PREFIX','SUFFIX','FIRST_NAME','LAST_NAME','MAIDEN_NAME','MARITAL','RACE','ETHNICITY'
                 ,'GENDER','BIRTHPLACE','ADDRESS','CITY','STATE','COUNTY','ZIP']]

In [33]:
procedure.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,32c84703-2481-49cd-d571-3899d5820253,265764009,Renal dialysis (procedure),903,NaN,NaN
1,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,c98059da-320a-c0a6-fced-c8815f3e3f39,76601001,Intramuscular injection,2477,NaN,NaN
2,2011-01-04T14:49:55Z,2011-01-04T15:04:55Z,d856d6e6-4c98-e7a2-129b-44076c63d008,2cfd4ddd-ad13-fe1e-528b-15051cea2ec3,703423002,Combined chemotherapy and radiation therapy (p...,11620,363406005.0,Malignant tumor of colon
3,2011-01-05T04:02:09Z,2011-01-05T04:17:09Z,bc9d59c3-0a30-6e3b-f47d-022e4f03c8de,17966936-0878-f4db-128b-a43ae10d0878,173160006,Diagnostic fiberoptic bronchoscopy (procedure),9796,162573006.0,Suspected lung cancer (situation)
4,2011-01-05T12:58:36Z,2011-01-05T16:42:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,9de5f0b0-4ba4-ce6f-45fb-b55c202f31a5,265764009,Renal dialysis (procedure),1255,NaN,NaN

In [34]:
procedure.shape

(47701, 9)

In [35]:
procedure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47701 entries, 0 to 47700
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   START              47701 non-null  object
 1   STOP               47701 non-null  object
 2   PATIENT            47701 non-null  object
 3   ENCOUNTER          47701 non-null  object
 4   CODE               47701 non-null  int64
 5   DESCRIPTION        47701 non-null  object
 6   BASE_COST          47701 non-null  int64
 7   REASONCODE         10756 non-null  float64
 8   REASONDESCRIPTION  10756 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 3.3+ MB

In [36]:
procedure['START']=pd.to_datetime(procedure['START']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [37]:
procedure['STOP']=pd.to_datetime(procedure['STOP']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [38]:
procedure['START']=pd.to_datetime(procedure['START'])

In [39]:
procedure['STOP']=pd.to_datetime(procedure['STOP'])

In [40]:
encounters.to_csv('encounters_cleaned.csv', index=False)
organization.to_csv('organization_cleaned.csv', index=False)
payer.to_csv('payer_cleaned.csv', index=False)
patients.to_csv('patient_cleaned.csv', index=False)
procedure.to_csv('procedure_cleaned.csv', index=False)